<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CPIFP Los Camaleones</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a id="to-home-link" class="navbar-item" href="/">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            width="112"
            height="28"
          />
        </a>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a id="to-tickets-link" href="/tickets" class="navbar-item">Tickets</a>
            <a id="to-vehiculos-link" href="/vehiculos" class="navbar-item">Vehiculos</a>
          </div>
        </div>
      </div>
    </nav>

    <h1 id="home-title" class="title is-1">
      Vehiculos Aparcados
    </h1>
    <a class="button is-primary" th:href="@{/aparcar}">Aparcar nuevo vehiculo</a>

      <div class="column is-three-fifths is-offset-one-fifth">
        <table class="table" id="table">
          <thead>
            <tr>
              <td>Matricula</td>
              <td>Hora Entrada</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="ticket: ${aparcados}">
              <td th:text="${ticket.vehiculo.getMatricula()}"></td>
              <td th:text="${ticket.fechaEntrada}"></td>
              <td><a class="button is-danger" th:href="@{/sacarVehiculo(matricula=${ticket.vehiculo.getMatricula()})}">Sacar vehiculo</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>